/* NAV BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


#firstHeading {
    text-align:center;
}

#secondHeading {
    text-align:center;
}

.buyButton {

    display: block;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0;
    text-align: center;
    margin: auto;
    width: 250px;
    font-weight: bold;
    text-transform: uppercase;
    background: #615f8b; 
    color: #fff;
   
}

.threeImages {
    text-align: center;
}

.threeImages img {
    display: inline-block;
    width: auto;
    height: 255px;

}


.threeImages:after {    
    content: '';
    display: inline-block;
    width:100%;

}

.columnP {
    text-align: center;
    column-count: 3;
    column-gap: 15px;

}

#alignP {
    text-align: justify;
}


#moveUp {
    margin-top: 0px;
}

#traveler{
    text-align: center;
}
.solgaard {

    display: block;
    /* float: right; */
    padding: 12px 24px;
    border-radius: 6px;
    border: 0;
    text-align: center;
    margin: auto;
    width: 250px;
    font-weight: bold;
    text-transform: uppercase;
    background: #615f8b;
    color: #fff;
}

.photos {
    text-align: center;
}

.photos img {
    display: inline-block;
    width: auto;
    height: 255px;

}


.photos:after {    
    content: '';
    display: inline-block;
    width:100%;

}

.linkP{
    text-align: center;

}

.linkP img {
    display: inline-block;
    width: auto;
    height: 255px;

}



.linkP:after {    
    content: '';
    display: inline-block;
    width:100%;

}